---
- hosts: all
  vars:
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no'

  become: true
  tasks:
  - name: update system
    yum:
      name: '*'
      state: latest
    when: ansible_distribution == "Amazon"
  
  - name: install java 17
    yum:
      name: java-17-amazon-corretto-devel.x86_64
      state: present
  
  - name: install maven package
    yum:
      name: maven
    when: ansible_distribution == "Amazon"
  
  - name: install docker
    yum: 
      name: docker
      state: present
  
  - name: login to docker
    shell: "aws ecr get-login-password --region eu-central-1"
    register: ecr_login

  - name: Login to ecr
    command:  docker login --username AWS --password-stdin {{ REPO_URL }}
    args:
      stdin: "{{ ecr_login.stdout }}"

  - name: pull docker image
    shell: docker pull {{ REPO_URL }}:latest

  - name: run the app
    shell: docker run -p 8080:8080 -p 3306:3306 -e MYSQL_URL=jdbc:mysql://{{ MYSQL_URL }}/petclinic -d {{ REPO_URL }}:latest